src/main/mule/accounts.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
	<flow name="getSFDCaccounts" doc:id="502c8936-d552-4530-bbb1-267784ed4547" >
		<http:listener doc:name="GET /sfdc" doc:id="863555b1-17c5-453f-b070-56fce7da3f16" config-ref="HTTP_Listener_config" path="/sfdc"/>
		<salesforce:query doc:name="Account" doc:id="0d2d0b85-8d99-4097-9d2d-3134b3f25500" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[SELECT Name, LastModifiedDate, BillingPostalCode
FROM Account]]></salesforce:salesforce-query>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="4bdf63cb-6d9b-4a63-a928-8b7ec2fdbb91" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="batchprocessCSVaccounts" doc:id="fcde2354-5a73-4301-ad10-482873156ffd" >
		<file:listener doc:name="accounts.csv" doc:id="391a4852-5eac-473f-a43e-978b63b789ff" config-ref="File_Config" directory="input" moveToDirectory="output" >
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
			<file:matcher filenamePattern="*.csv" />
		</file:listener>
		<ee:transform doc:name="CSV to JAVA" doc:id="798e2bfd-ca42-466b-9828-6cd893243447" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[sizeOf(payload)]" doc:name="Size" doc:id="7b2f5919-f5f4-43ab-9a28-ce71e0e76330" variableName="size"/>
		<batch:job jobName="accountsBatch_Job" doc:id="28b74f31-d357-40df-a470-562a0eea0b24" >
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="1a8a5bca-5ef0-4e29-828b-3b5b708f9264" >
					<set-variable value="#[payload.Name]" doc:name="cname" doc:id="076ff606-b0ce-49a3-9b69-23f987ad4c5d" variableName="cname"/>
					<logger level="INFO" doc:name="Logger" doc:id="c1c11d32-f424-4d97-a43a-038b1652ff80" />
				</batch:step>
				<batch:step name="Batch_Step1" doc:id="8418c8d9-da3b-481d-8cc2-f0e92749d060" >
					<logger level="INFO" doc:name="Logger" doc:id="8a7d61cb-a3a6-437a-8bc0-e9776b04902c" />
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="53d5ff9c-df0c-4719-b4be-866c0afc62d1" />
			</batch:on-complete>
		</batch:job>
	</flow>
	<flow name="getCSVaccounts" doc:id="6df8a373-c59a-47ab-9a3d-958a4111aa66" initialState="stopped">
		<file:listener doc:name="accounts.csv" doc:id="4f4ab89e-4558-40d8-b9c2-8eb8371d1a71" config-ref="File_Config" directory="input" moveToDirectory="output">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
			<file:matcher filenamePattern="*.csv" />
		</file:listener>
		<ee:transform doc:name="CSV to JAVA" doc:id="d57797ba-07d1-41e5-883c-d1beff2cffac" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="77c17c2a-face-4892-9527-441086ed8e16" >
			<set-payload value="processed" doc:name="processed" doc:id="e856c2e1-7cc2-4af9-bc1c-9095df1b820f" />
			<logger level="INFO" doc:name="payload" doc:id="a4ac35f8-7c09-4dd9-8138-66a9a922ea01" message="#[payload]"/>
		</foreach>
		<logger level="INFO" doc:name="payload" doc:id="a878f9d9-8e3a-4a89-b217-977798d2c06f" message="#[payload]"/>
	</flow>
	<flow name="syncDBaccountsToCSV" doc:id="4c7ba588-ed3a-4677-9762-b10bf0e23eac" initialState="stopped">
		<db:listener doc:name="accounts" doc:id="3d01f0b2-03f8-4e3a-9969-a6f709cc3435" config-ref="Database_Config" table="accounts" watermarkColumn="accountID" idColumn="accountID">
			<scheduling-strategy >
				<fixed-frequency frequency="10" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</db:listener>
		<ee:transform doc:name="JAVA to CSV" doc:id="7d434d7c-b51c-462b-a031-70e3cea121f3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv header=false
---
[payload]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="DBaccounts.csv" doc:id="c5ffa285-4ecf-420d-a78a-6732d8df67b1" config-ref="File_Config" path="output/DBaccounts.csv" mode="APPEND"/>
		<logger level="INFO" doc:name="payload" doc:id="8069a97a-1b37-48e4-ba1c-8c982e1dd15e" message="#[payload]"/>
	</flow>
	<flow name="syncDBaccountswithPostal" doc:id="003f4d14-731e-469d-8d72-f38ebac560b1" initialState="stopped">
		<scheduler doc:name="Scheduler" doc:id="18ddbe82-4168-4029-834a-400f517f4521" >
			<scheduling-strategy >
				<fixed-frequency frequency="10" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</scheduler>
		<os:retrieve doc:name="lastAccountID" doc:id="f21e584b-71a7-4240-8516-6e02a89a99f3" key="lastAccountID" target="lastAccountID">
			<os:default-value ><![CDATA[0]]></os:default-value>
		</os:retrieve>
		<db:select doc:name="accounts" doc:id="e83f1f7b-bff5-40fd-9e3a-66d510c7261a" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from accounts where postal=:postal and accountID > :lastAccountID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{postal:'680308',lastAccountID:vars.lastAccountID}]]]></db:input-parameters>
		</db:select>
		<choice doc:name="Choice" doc:id="d8baaca3-bf33-4031-ad85-d1e513d83e15" >
			<when expression="#[not isEmpty(payload)]">
				<os:store doc:name="lastAccountID" doc:id="0fed956d-27ac-495e-bc10-ae638cf554b2" key="lastAccountID">
			<os:value><![CDATA[#[max(payload.*accountID)]]]></os:value>
		</os:store>
				<file:write doc:name="DBaccountsPostal.csv" doc:id="76a91173-dddc-4344-83b2-d4407aeeb270" config-ref="File_Config" path="output/DBaccountsPostal.csv" mode="APPEND">
			<file:content><![CDATA[#[output application/csv header=false --- payload]]]></file:content>
		</file:write>
				<jms:publish doc:name="JMS accountsQ" doc:id="9ae70cfc-adea-41d5-b259-125630af49d3" config-ref="JMS_Config" destination="accountsQ">
					<jms:message >
						<jms:body ><![CDATA[#[output application/json --- payload]]]></jms:body>
						<jms:properties ><![CDATA[#[{"publisher":"training"}]]]></jms:properties>
					</jms:message>
				</jms:publish>
				<logger level="INFO" doc:name="CSB to Payload" doc:id="f431a4c4-48b2-48b5-a2a6-fa873485f349" message="#[output application/csv header=false --- payload]" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="No new Records" doc:id="509134d0-a951-485d-8c66-f2f52c06f104" message="No new Records"/>
			</otherwise>
		</choice>
	</flow>
	<flow name="recieveJMSMessages" doc:id="8e083900-f9fe-4732-8573-c91aca4ceefe" >
		<jms:listener doc:name="JMS accountQ" doc:id="8a282602-a996-4d3c-a61e-a0e049fa0379" config-ref="JMS_Config" destination="accountsQ">
			<jms:consumer-type >
				<jms:queue-consumer />
			</jms:consumer-type>
		</jms:listener>
		<logger level="INFO" doc:name="Logger" doc:id="06464c37-bb66-4efc-a433-3eb9df394db4" message="#[payload]"/>
	</flow>
</mule>
